<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005821643004-56ms5dddjkolmdog40i1n0g9kgb4omap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005821643004-56ms5dddjkolmdog40i1n0g9kgb4omap</string>
	<key>API_KEY</key>
	<string>AIzaSyDeSP5a8HFtYdP1nEAkGwKzladhvb8e5X8</string>
	<key>GCM_SENDER_ID</key>
	<string>1005821643004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-71684</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-71684.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005821643004:ios:131fd3b6d282aed1a36f79</string>
</dict>
</plist>